@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", "sans-serif";
  display: block;
}

menu {
  animation: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navbar Section (START) */
nav {
  color: white;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #852cbb;
  background: -webkit-linear-gradient(left, #852cbb, #f884b2);
  background: -moz-linear-gradient(left, #852cbb, #f884b2);
  background: linear-gradient(to right, #852cbb, #f884b2);
}
.nav-link-list {
  text-align: right;
}
.nav-link-inline {
  display: inline;
  padding-right: 1rem;
  list-style: none;
}

.nav-link {
  transition-duration: 0.6s;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: yellow;
  text-decoration: underline;
}

.nav-link:focus {
  color: #000fff;
  text-decoration: underline;
}

.active {
  color: rgb(0, 68, 255);
  text-decoration: none;
}

.active:hover {
  color: rgb(0, 68, 255);
  text-decoration: none;
}
/* Navbar Section (END) */

/* is Triangle Section (START) */
.main-container {
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.is-triangle-input {
  transition-duration: 0.4s;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 4px solid #852cbb;
  font-size: medium;
  text-align: center;
  outline: none;
  border-radius: 2rem;
  width: 100%;
  max-width: 258px;
  height: 30px;
  padding: 1rem;
}

.is-triangle-input:hover {
  border-color: #f884b2;
}

.is-triangle-input:focus {
  border-color: #000fff;
}

#submit {
  margin: 1rem;
  padding: 13px 26px;
  background: transparent;
  outline: none;
  border-radius: 0.6rem;
  border: 3px solid;
}

#reset {
  margin: 1rem;
  padding: 13px 26px;
  background: transparent;
  outline: none;
  border-radius: 0.6rem;
  border: 3px solid;
}

#output {
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

footer {
  padding-top: 2rem;
}

/* Is Triangle Section (END) */

/* Quiz Section (START) */

.question-container {
  margin: 0.5rem;
  padding: 0.2rem;
}

/* Quiz Section (END) */
